* {
    box-sizing: border-box;
  }

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .menu-trigger {
    color: #999999 ;
    font-size: 20px;
    background: #F8F8F8;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    border: 0px;
    vertical-align: middle;
    margin-left: auto; /* Strictly for positioning */
  }
   
  .menu {
    background: #F8F8F8;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px solid;
    opacity: 0;
    visibility: hidden;
    height: 70px;
    width: 199px;
  }